/* Global styles */
.container{
    background: white;
}
body{
    background: purple;
    font-family: Georgia, Times New Roman, Times, serif
}
p  {
    font-size: 15px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
    text-align: justify;
}
a {
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
}

h3 {
    text-align: center;
    font-family: Georgia, Times New Roman, Times, serif;
     color: #54075B;
}
ul {
    font-size: 15px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
}
/* Header Styles */
header {

    background-image: url('http://www.onelifefineart.com/images/OLindex_01.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
}
header img {
    margin-top: 8px;
    width: 30%;
}
.header-menu {
    width: 150px;
    text-transform: capitalize;
    float: right;
}
.art-menu,
.commissions-menu,
.blog-menu,
.about-menu {
    margin: 4px;
    padding-left: 2px;
    font-family: Georgia, Times New Roman, Times, serif;
    color: #54075B;
    text-transform: uppercase;
}
.art-menu {
    background: #CF42FF;
}
.commissions-menu {
    background: #C46B20;
}
.blog-menu {
    background: #BBC02A;
}
.about-menu {
    background: #28a745;
}
.name-header {
    text-align: center;
    text-transform: uppercase;
    padding: -4px;
    width: 100%;
    background: white;
    color: #54075B;
    font-family: Georgia, Times New Roman, Times, serif;
}
.name-header h1 {
    margin: -4px;
    padding: 0;

}
.name-header img {
    margin: -4px;
    width: 100%
}
.mobile-dropdown {
    display: none;
    float: right;
    margin: 5% 0;
}
/* hero */
.hero {
    margin:0;
}
.hero img {
    width: 100%
}
/* messages section */

.messages {
    background: lightgreen;
    width: 100%;
}
.messages h2 {
    text-align: center;
    color: #54075B;
    ;
}
.column1,
.column2,
.column3 {
    width: 32%;
    padding: 10px;
    float: left;
    color:  #54075B;
}

.projects img {
    width: 100%;
}
.column3 img {
    width: 100%;
}


.giving-thanks {
    width: 100% auto;
    }
footer {
    text-align: center;
    color: purple;

}
@media (max-width:992px) {
    .giving-thanks {
        display: none;
    }
}

@media (max-width: 768px) {
    .name-header h1 {
        font-size: 30px;
    }
    .header-menu {
        display: none;
    }
    .column2 {
        display: none;
    }
    .column1,
    .column3 {
        width: 49%;
    }
    header {
        background-position: center;
    }
    .mobile-dropdown {
        display: block;
    }
    .mobile-dropdown a {
        font-family: Georgia, Times New Roman, Times, serif;
        color: #54075B;
    }
    .giving-thanks {
        display: none;
    }
}
@media (max-width:550px) {
    .column1 {
        display: none;
    }
    .column3 {
        width: 100%;
    }

}
